@model IdentityServer.Admin.Models.Localization.LanguageModel
@{
    ViewBag.Title = T("Languages.AddNew").Text;
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Language" asp-action="Index">@T("Languages.PageList").Text</a></li>
                <li class="breadcrumb-item active" aria-current="page">@T("Languages.AddNew").Text</li>
            </ol>
        </nav>
    </div>
</div>

<form asp-action="Create" method="post" id="language-form">

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="card mt-3">
        <h5 class="card-header">@T("Languages.AddNew").Text</h5>
        <div class="card-body">
            @await Html.PartialAsync("_CreateOrUpdate", Model)
        </div>

        <!--Button-->
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">
            </label>
            <div class="col-sm-9">
                <button type="submit" id="api-resource-save-button" class="btn btn-primary">@T("Common.Save").Text</button>
            </div>
        </div>
    </div>
</form>

@section scripts
{
    <script>
        $(function () {
            //Disable enter for this form
            FormMvc.disableEnter($('#language-form'));
        });
    </script>
}