@model IdentityServer.Admin.Models.Role.RoleModel

@{
    ViewBag.Title = T("Roles.Add").Text;
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index">@T("Roles.PageTitle").Text</a></li>
                <li class="breadcrumb-item active" aria-current="page">@T("Roles.Add").Text</li>
            </ol>
        </nav>
    </div>
</div>

<form id="client-form" asp-action="Create" Method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="card mt-3">
        <h5 class="card-header">@T("Roles.Add").Text</h5>
        <div class="card-body">

            <div class="row">
                <div class="col-sm-10">

                    @await Html.PartialAsync("_CreateOrUpdate", Model)

                    <!--Button-->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                        </label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary">@T("Common.Save").Text</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>