@model Tuple<string, string>
@Model.Item1
@if (!string.IsNullOrEmpty(Model.Item2))
{
    <span data-toggle="tooltip" data-original-title="@Model.Item2"><span style="font-size: 12px;" class="oi oi-comment-square"></span></span>
}