@model IdentityServer.Admin.Common.Search

<form asp-controller="@Model.Controller" asp-action="@Model.Action" method="get">
    <div class="form-row">
        <div class="col-12 mb-3">
            <input name="search" value="@ViewBag.Search" type="text" placeholder="请输入要搜索的内容..." class="form-control" />
        </div>
    </div>

    <div class="form-row">
        <div class="col-12 mb-3">
            <input type="submit" class="btn btn-primary" value="搜索" />
        </div>
    </div>
</form>





