@using IdentityServer.Admin.Helpers
@model IdentityServer.Admin.Models.Client.ClientModel

@{
    ViewBag.Title = "删除客户端";
    Layout = "_Layout";
}


<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Client" asp-action="Index">客户端</a></li>
                <li class="breadcrumb-item"><a asp-controller="Client" asp-action="Edit" asp-route-id="@Model.Id">@Model.ClientName</a></li>
                <li class="breadcrumb-item active" aria-current="page">删除客户端</li>
            </ol>
        </nav>
    </div>
</div>

<form id="client-form" asp-controller="Client" asp-action="Delete" Method="post">

    <!--Hidden -->
    <input type="hidden" asp-for="Id" />

    <!--Hidden -->
    <input type="hidden" asp-for="ClientName" />

    <h2>Common</h2>

    <div class="card mt-3">
        <h5 class="card-header">删除客户端</h5>
        <div class="card-body">
            <!--Input - text -->
            <div class="form-group row">
                <label asp-for="ClientId" class="col-sm-3 col-form-label">
                    @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("客户端标识", "客户端的唯一标识"))
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" asp-for="ClientId" disabled="disabled" />
                </div>
            </div>

            <!--Input - text -->
            <div class="form-group row">
                <label asp-for="ClientName" class="col-sm-3 col-form-label">
                    @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("客户端名称", "客户端显示名称（用于记录和同意屏幕）"))
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" disabled="disabled" asp-for="ClientName" />
                </div>
            </div>

            <!--Button-->
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">
                </label>
                <div class="col-sm-9">
                    <button type="submit" class="btn btn-danger">删除客户端</button>
                </div>
            </div>
        </div>
    </div>
</form>





