@model ApiScopeModel

@{
    ViewBag.Title = "添加 Api 作用域";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="ApiScope" asp-action="Index">Api 作用域</a></li>
                <li class="breadcrumb-item active" aria-current="page">添加 Api 作用域</li>
            </ol>
        </nav>
    </div>

    <div class="col-12">
        <h2>添加 Api 作用域</h2>
    </div>
</div>

<form asp-action="Create" id="api-scope-form" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    @await Html.PartialAsync("_CreateOrUpdate", Model)

</form>

@section scripts
{
    <script>
        $(function () {
            //Disable enter for this form
            FormMvc.disableEnter($('#api-scope-form'));
        });
    </script>
}