@model IdentityServer.Admin.Models.ApiScope.ApiScopeModel

@{
    ViewBag.Title = T("ApiScope.Add").Text;
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="ApiScope" asp-action="Index">@T("ApiScope.PageTitle").Text</a></li>
                <li class="breadcrumb-item active" aria-current="page">@T("ApiScope.Add").Text</li>
            </ol>
        </nav>
    </div>
</div>

<form asp-action="Create" id="api-scope-form" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="card mt-3">
        <h5 class="card-header">@T("ApiScope.Add").Text</h5>
        @await Html.PartialAsync("_CreateOrUpdate", Model)
    </div>
</form>

@section scripts
{
    <script>
        $(function () {
            //Disable enter for this form
            FormMvc.disableEnter($('#api-scope-form'));
        });
    </script>
}