@model ApiScopeModel

@{
    ViewBag.Title = "编辑 Api 作用域";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="ApiScope" asp-action="Index">Api 作用域</a></li>
                <li class="breadcrumb-item active" aria-current="page">编辑 Api 作用域</li>
            </ol>
        </nav>
    </div>

    <div class="col-12">
        <h2>编辑 Api 作用域</h2>
    </div>
</div>

<form asp-action="Edit" id="api-scope-form" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <!--Hidden -->
    <input type="hidden" asp-for="Id" />

    @await Html.PartialAsync("_CreateOrUpdate", Model)

</form>