@using IdentityServer.Admin.Core.Constants
@using IdentityServer.Admin.Core.Entities.Enums
@using IdentityServer.Admin.Core.Extensions
@using IdentityServer.Admin.Helpers
@model IdentityServer.Admin.Models.ApiResource.ApiResourceSecretModel
@{
    var availableTypeList = ClientConstant.GetSecretTypes().Select(x => new SelectListItem
    {
        Text = x.ToString(),
        Value = x.ToString()
    }).ToList();

    var availableHashTypeList = EnumExtension.ToDictionary<HashType>()
        .Select(x => new SelectListItem
        {
            Text = x.Value,
            Value = x.Key.ToString()
        }).ToList();
}

<!--Hidden -->
<input type="hidden" asp-for="ApiResourceId" />

<!--Hidden -->
<input type="hidden" asp-for="ApiResourceName" />


<!--Select-->
<div class="form-group row">
    <label asp-for="Type" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiResourceSecret.Type").Text, ""))
    </label>
    <div class="col-sm-9">
        <select asp-for="Type" asp-items="@availableTypeList" class="form-control"></select>
    </div>
</div>

<!--Input - text -->
<div class="form-group row">
    <label asp-for="Value" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiResourceSecret.Value").Text, ""))
    </label>
    <div class="col-sm-9">
        <div class="input-group mb-3">
            <input id="secret-input" type="text" autocomplete="off" required class="form-control" asp-for="Value">
            <div class="input-group-append">
                <button type="button" id="generate-guid-button" class="btn btn-primary"><span class="oi oi-random"></span></button>
            </div>
        </div>
        <span asp-validation-for="Value" class="text-danger"></span>
    </div>
</div>

<!--Select-->
<div class="form-group row">
    <label asp-for="HashType" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiResourceSecret.HashType").Text, ""))
    </label>
    <div class="col-sm-9">
        <select asp-for="HashType" asp-items="@availableHashTypeList" class="form-control"></select>

        <div class="alert alert-warning" role="alert">
            <span class="sr-only">@T("ApiResourceSecret.InfoTitle").Text</span>
            @T("ApiResourceSecret.InfoDescription").Text
        </div>
    </div>
</div>

<!--Date Picker-->
<div class="form-group row">
    <label asp-for="Expiration" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiResourceSecret.Expiration").Text, ""))
    </label>
    <div class="col-sm-9">
        <div class="datepicker input-group date">
            <input asp-for="Expiration" autocomplete="off" type="text" class="form-control">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
</div>

<!--Input - text -->
<div class="form-group row">
    <label asp-for="Description" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("ApiResourceSecret.Description").Text, ""))
    </label>
    <div class="col-sm-9">
        <input type="text" autocomplete="off" class="form-control" asp-for="Description">
    </div>
</div>