@using IdentityServer.Admin.Helpers
@model IdentityResourceModel

<div asp-validation-summary="All" class="text-danger"></div>

<div class="card mt-3">
    <h5 class="card-header">身份资源</h5>
    <div class="card-body">
        <!--Input - text -->
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("名称", "身份资源的唯一名称。 这是客户端将用于授权请求中的作用域参数的值"))
            </label>
            <div class="col-sm-9">
                <input type="text" required class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <!--Input - text -->
        <div class="form-group row">
            <label asp-for="DisplayName" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("显示名称", "该值将用于例如 在同意屏幕上"))
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" asp-for="DisplayName">
            </div>
        </div>

        <!--Input - text -->
        <div class="form-group row">
            <label asp-for="Description" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("描述", "该值将用于例如 在同意屏幕上"))
            </label>
            <div class="col-sm-9">
                <input type="text" class="form-control" asp-for="Description">
            </div>
        </div>

        <!--Checkbox-->
        <div class="form-group row">
            <label asp-for="Enabled" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("启用", "指示此资源是否已启用且可以请求。 默认为 true"))
            </label>
            <div class="col-sm-9">
                <toggle-button>
                    <input asp-for="Enabled" type="checkbox">
                </toggle-button>
            </div>
        </div>

        <!--Checkbox-->
        <div class="form-group row">
            <label asp-for="ShowInDiscoveryDocument" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("在发现文档中显示", "指定此作用域是否显示在发现文档中。 默认为 true"))
            </label>
            <div class="col-sm-9">
                <toggle-button>
                    <input asp-for="ShowInDiscoveryDocument" type="checkbox">
                </toggle-button>
            </div>
        </div>

        <!--Checkbox-->
        <div class="form-group row">
            <label asp-for="Required" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("必须", "指定用户是否可以在同意屏幕上取消选择作用域（如果同意屏幕要实现此类功能）。 默认为 false。"))
            </label>
            <div class="col-sm-9">
                <toggle-button>
                    <input asp-for="Required" type="checkbox">
                </toggle-button>
            </div>
        </div>

        <!--Checkbox-->
        <div class="form-group row">
            <label asp-for="Emphasize" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("强调", "指定同意屏幕是否会强调此作用域（如果同意屏幕要实现此类功能）。 将此设置用于敏感或重要作用域。 默认为 false"))
            </label>
            <div class="col-sm-9">
                <toggle-button>
                    <input asp-for="Emphasize" type="checkbox">
                </toggle-button>
            </div>
        </div>

        <!--Select with tags-->
        <div class="form-group row">
            <label asp-for="UserClaimsItems" class="col-sm-3 col-form-label">
                @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("用户声明", "应包含在身份令牌 id_token 中的关联用户声明类型的列表"))
            </label>
            <div class="col-sm-9">
                <picker id="UserClaimsItems" multiple-select="true" min-search-text="2"
                        selected-items="@(Model.UserClaims!=null?Model.UserClaims.Select(x=>x.Type).ToList():new List<string>())"
                        url="@Url.Action("SearchClaims","ClientClaim")?claim"
                        search-input-placeholder="输入两个以上字符"
                        selected-items-title="选中项"
                        search-result-title="搜索结果（点击选择）"
                        suggested-items-title="建议项"
                        no-item-selected-title="没有选择项"
                        show-all-items-title="更多"
                        item-already-selected-title="已经被选中">
                </picker>
            </div>
        </div>

        @if (Model.Id != 0)
        {
            <!--Button-->
            @*<div class="form-group row">
                <label class="col-sm-3 col-form-label">
                    @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("属性", "需要保留任何自定义身份资源特定值的字典"))
                </label>
                <div class="col-sm-9">
                    <a asp-action="IdentityResourceProperties" asp-route-id="@Model.Id" class="btn btn-primary">管理身份资源属性</a>
                </div>
            </div>*@
        }

        <!--Button-->
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">
            </label>
            <div class="col-sm-9">
                <button type="submit" id="identity-resource-save-button" class="btn btn-primary">保存身份资源</button>
                @if (Model.Id != 0)
                {
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">删除身份资源</a>
                }
            </div>
        </div>
    </div>
</div>
