@model IdentityResourceModel

@{
    ViewBag.Title = "添加身份资源";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="IdentityResource" asp-action="Index">身份资源</a></li>
                @*<li class="breadcrumb-item active" aria-current="page">@Model.Name</li>*@
            </ol>
        </nav>
    </div>

    <div class="col-12">
        <h2>添加身份资源</h2>
    </div>
</div>

<form asp-action="Create" method="post" id="identity-resource-form">

    @await Html.PartialAsync("_CreateOrUpdate", Model)

</form>

@section scripts
	{
    <script>
        $(function () {

            //Disable enter for this form
            FormMvc.disableEnter($('#identity-resource-form'));
        });
    </script>
}