@using IdentityServer.Admin.Helpers
@model IdentityServer.Admin.Models.Client.ClientModel 

<div class="card mt-3">
	<h5 class="card-header">@T("Clients.NavConsent").Text</h5>
	<div class="card-body">
		<!--Checkbox-->
		<div class="form-group row">
			<label asp-for="RequireConsent" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("Clients.RequireConsent").Text, T("Clients.RequireConsent.Hint").Text))
			</label>
			<div class="col-sm-9">
				<toggle-button>
					<input asp-for="RequireConsent" type="checkbox">
				</toggle-button>
			</div>
		</div>

		<!--Checkbox-->
		<div class="form-group row">
			<label asp-for="AllowRememberConsent" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("Clients.AllowRememberConsent").Text, T("Clients.AllowRememberConsent.Hint").Text))
			</label>
			<div class="col-sm-9">
				<toggle-button>
					<input asp-for="AllowRememberConsent" type="checkbox">
				</toggle-button>
			</div>
		</div>

		<!--Input - text -->
		<div class="form-group row">
			<label asp-for="ClientUri" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("Clients.ClientUri").Text, T("Clients.ClientUri.Hint").Text))
			</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" asp-for="ClientUri">
			</div>
		</div>

		<!--Input - text -->
		<div class="form-group row">
			<label asp-for="LogoUri" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel(T("Clients.LogoUri").Text, T("Clients.LogoUri.Hint").Text))
			</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" asp-for="LogoUri">
			</div>
		</div>
	</div>
</div>





