@model UserModel
@using IdentityServer.Admin.Helpers

<!--Input - text -->
<div class="form-group row">
    <label asp-for="Name" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("用户名", "用户名"))
    </label>
    <div class="col-sm-9">
        <input type="text" required class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>

<!--Input - text -->
<div class="form-group row">
    <label asp-for="Email" class="col-sm-3 col-form-label">
        @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("Email", "Email"))
    </label>
    <div class="col-sm-9">
        <input type="email" required class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
</div>

@if (Model.Id > 0)
{
    <!--Checkbox-->
    <div class="form-group row">
        <label asp-for="Active" class="col-sm-3 col-form-label">
            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("是否激活", "该用户是否激活"))
        </label>
        <div class="col-sm-9">
            <toggle-button>
                <input asp-for="Active" type="checkbox">
            </toggle-button>
        </div>
    </div>

    <!--Checkbox-->
    <div class="form-group row">
        <label asp-for="Deleted" class="col-sm-3 col-form-label">
            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("是否删除", "该用户是否删除"))
        </label>
        <div class="col-sm-9">
            <toggle-button>
                <input asp-for="Deleted" type="checkbox">
            </toggle-button>
        </div>
    </div>

    <!--Input - text -->
    <div class="form-group row">
        <label asp-for="CreationTime" class="col-sm-3 col-form-label">
            @await Html.PartialAsync("Common/Label", HtmlFormatHelper.FormatLabel("创建时间", ""))
        </label>
        <div class="col-sm-9">
            <input type="text" disabled="disabled" class="form-control" value="@Model.CreationTime.ToShortDateString()">
        </div>
    </div>
}